
*.o
.DS_Store

array_invertido_numeros/array_invertido_numeros
array_invertido_pal/array_invertido_pal
binario_decimal/binario_decimal
decimal_hexadecimal/decimal_hexadecimal
downpath/downpath
elems/elems
estadisticas_basicas/estadisticas_basicas
factorial/factorial
hexadecimal_decimal/hexadecimal_decimal
holamundo/holamundo
imprimir_argumentos/imprimir_argumentos
killprocs/killprocs
myls/myls
mysplit/mysplit
necho/necho
par_impar/par_impar
pathmlen/pathmlen
repn/repn
searchstr/searchstr
