*.o
.DS_Store

factorial/factorial
holamundo/holamundo
myls/myls
mysplit/mysplit
necho/necho
killprocs/killprocs
searchstr/searchstr
repn/repn
pathmlen/pathmlen
par_impar/par_impar
imprimir_argumentos/imprimir_argumentos
hexadecimal_decimal/hexadecimal_decimal
estadisticas_basicas/estadisticas_basicas
elems/elems
downpath/downpath
decimal_hexadecimal/decimal_hexadecimal
binario_decimal/binario_decimal
array_invertido_numeros/array_invertido_numeros
